.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 390px; /* Specifică lățimea fixă */
  height: 120px; /* Specifică înălțimea fixă */
}

.custom-hr {
  width: 20%;
  text-align: left;
  margin-left: 40%;
}


/* Stilizarea listei de navigare */
ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; /* Schimbă culoarea de fundal */
}

/* Stilizarea link-urilor din bara de navigare */

/* Efect la hover pentru link-uri */
ul li a:hover {
  background-color: #111; /* Schimbă culoarea de fundal la hover */
}

/* Stilizarea link-ului activ (pagina curentă) */
ul li a.active {
  background-color: #4CAF50; /* Schimbă culoarea de fundal pentru link-ul activ */
}

/* Ajustarea pentru elementele 'li' să fie orizontale, nu verticale */
ul li {
  float: left;
}

/* Asigură că elementele 'li' nu se suprapun pe conținutul de sub navigație */
ul:after {
  content: "";
  display: table;
  clear: both;
}


/* Antetul paginii */
header {
  text-align: center;
  margin-bottom: 20px;
}

.center {
  max-width: 100%;
  height: auto;
}



/* Stiluri pentru navigatie */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

ul li a.active {
  background-color: #4CAF50;
  color: white;
}

ul li.right {
  float: right;
}

/* Sectiunea de adoptie */
#adopt {
  background-color: #f9f9f9;
  padding: 20px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.container {
  width: 70%;
  margin: auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.filter-options {
  text-align: center;
  margin-bottom: 20px;
}

.filter-options button {
  padding: 10px;
  margin: 0 5px;
  background-color: #e7e7e7;
  border: none;
  cursor: pointer;
}

.filter-options button:hover {
  background-color: #ddd;
}

/* Stilurile pentru galeria de animale */
.animal-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

/* Restul stilurilor de content */
.adoption-process, .testimonials, .donation {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

/* Stilurile pentru butoane */
a.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a.button:hover {
  background-color: #45a049;
}

/* Media queries pentru responsivitate */
@media (max-width: 600px) {
  .animal-gallery {
    grid-template-columns: 1fr;
  }

}
